body {
    background-image: url('images/background/desert_backdrop_final.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto;
    z-index: -1;
}

.nameOfGame {
    opacity: 1;
    position: absolute;
    margin: 30px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hangingStructure {
    display: flex;
    max-width: 48%;
    max-height: 81%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 20px;
    right: 480px;
    bottom: 0;
    left: 0;
}

.hangingRope {
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hangingRope1 {
    max-width: 24%;
    max-height: 24%;
    position: absolute;
    top: 229px;
    right: 0;
    bottom: 0;
    left: 435px;
}

#hangingRope2 {
    max-width: 7%;
    max-height: 7%;
    position: absolute;
    top: 171px;
    right: 0;
    bottom: 0;
    left: 470px;
}

/* #hangingRope3 {
    max-width: 10%;
    max-height: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.yosemiteSam_winning {
    display: flex;
    height: 530px;
    width: 250px;
    min-width: 10%;
    min-height: 10%;
    max-width: 45%;
    max-height: 35%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 350px;
    right: 900px;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.winningSpeechBubble {
    display: flex;
    max-width: 18%;
    max-height: 18%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 180px;
    right: 380px;
    bottom: 0;
    left: 0;
}

.winningSpeechText {
    display: flex;
    max-width: 12%;
    max-height: 12%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 186px;
    right: 343px;
    bottom: 0;
    left: 0;
}

.yosemiteSam_losing {
    display: flex;
    height: 580px;
    width: 1050px;
    min-width: 10%;
    min-height: 10%;
    max-width: 85%;
    max-height: 85%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 200px;
    left: -401px;
    z-index: 1;
}

.yosemiteSam_losingBodyParts {
    display: flex;
    height: 530px;
    width: 250px;
    min-width: 10%;
    min-height: 10%;
    max-width: 45%;
    max-height: 35%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 350px;
    right: 900px;
    bottom: 0;
    left: 0;
    z-index: 1;
}


#losingBody {
    position: absolute;
    max-width: 50%;
    max-height: 50%;
    top: 250px;
    right: 0;
    bottom: 0;
    left: 338px;
}

#losingTorso {
    position: absolute;
    max-width: 10%;
    max-height: 10%;
    top: 454px;
    right: 0;
    bottom: 0;
    left: 434px;
    z-index: 1;
}

#losingRightLeg {
    position: absolute;
    max-width: 7.6%;
    max-height: 7.6%;
    top: 502px;
    right: 0;
    bottom: 0;
    left: 476px;
    z-index: 1;
}

#losingLeftLeg {
    position: absolute;
    max-width: 7.6%;
    max-height: 7.6%;
    top: 502px;
    right: 0;
    bottom: 0;
    left: 418px;
    z-index: 1;
}

#losingRightArm {
    position: absolute;
    max-width: 17%;
    max-height: 17%;
    top: 363px;
    right: 0;
    bottom: 0;
    left: 517px;
    z-index: 1;
}

#losingLeftArm {
    position: absolute;
    max-width: 18%;
    max-height: 18%;
    top: 362px;
    right: 0;
    bottom: 0;
    left: 332px;
    z-index: 1;
}

/* #losingHead {
    top: 0;
    right: 30;
    bottom: 0;
    left: 0;
} */

.losingSpeechBubble {
    display: flex;
    max-width: 18%;
    max-height: 18%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 240px;
    left: 0;
}

.losingSpeechText {
    display: flex;
    max-width: 12%;
    max-height: 12%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 250px;
    left: 30px;
}

.scoreboardContainer {
    display: block;
    max-width: 5%;
    max-height: 5%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 490px;
    left: 760px;
}

#winsAmount {
    font-family: rosewood-std-fill, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    background: transparent;
    border: 0;
    z-index: 2;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 444px;
    left: 1096px;
}

#losesAmount {
    font-family: rosewood-std-fill, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    background: transparent;
    border: 0;
    z-index: 2;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 294px;
    left: 1096px;
}

#wrongAmount {
    font-family: rosewood-std-fill, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
    background: transparent;
    border: 0;
    z-index: 2;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 140px;
    left: 1096px;
}

#numberOfWinsContainer {
    margin: 10px;
}

#numberOfLosesContainer {
    margin: 10px;
}

#numberOfWrongContainer {
    margin: 10px;
}

.scoreboardText {
    display: block;
    max-width: 8%;
    max-height: 8%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 510px;
    left: 960px;
}

#numberOfWinsText {
    position: absolute;
    margin: 47px;
    top: 2px;
    right: 0;
    bottom: 0;
    left: -17px;
}

#numberOfLosesText {
    position: absolute;
    margin: 47px;
    top: 77px;
    right: 0;
    bottom: 0;
    left: -7px;
}

#numberOfWrongText {
    position: absolute;
    margin: 47px;
    top: 155px;
    right: 0;
    bottom: 0;
    left: 0;
}

.correctLettersContainer {
    max-width: 50%;
    max-height: 50%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 810px;
    right: 480px;
    bottom: 0;
    left: 0;
}

.correctLetters {
    display: flex;
    max-width: 3%;
    min-width: 3%;
    max-height: 5%;
    min-height: 5%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#correctLetterP {
    position: absolute;
    margin: 10px;
    top: 365px;
    right: 539px;
}

#correctLetterI {
    position: absolute;
    margin: 10px;
    top: 365px;
    right: 417px;
}

#correctLetterS {
    position: absolute;
    margin: 10px;
    top: 365px;
    right: 293px;
}

#correctLetterT {
    position: absolute;
    margin: 10px;
    top: 365px;
    right: 167px;
}

#correctLetterO {
    position: absolute;
    margin: 10px;
    top: 365px;
    right: 42px;
}

#correctLetterL {
    position: absolute;
    margin: 10px;
    top: 365px;
    left: 64px;
}

.alphabetLettersContainer {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    position: absolute;
    margin: auto;
    padding: 20px;
    top: 830px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.alphabetLetters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 3%;
    min-width: 3%;
    max-height: 5%;
    min-height: 5%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 970px;
    right: 1050px;
    bottom: 0;
    left: 0;
    z-index: 2;
}