body {
    background-image: url('images/background/desert_backdrop_final.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto;
    z-index: -1;
}

.nameOfGame {
    opacity: 1;
    position: absolute;
    margin: 30px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hangingStructure {
    display: flex;
    max-width: 48%;
    max-height: 81%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 20px;
    right: 480px;
    bottom: 0;
    left: 0;
}

.hangingRope {
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hangingRope1 {
    max-width: 24%;
    max-height: 24%;
    position: absolute;
    top: 229px;
    right: 0;
    bottom: 0;
    left: 435px;
}

#hangingRope2 {
    max-width: 7%;
    max-height: 7%;
    position: absolute;
    top: 171px;
    right: 0;
    bottom: 0;
    left: 470px;
}

/* #hangingRope3 {
    max-width: 10%;
    max-height: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.yosemiteSam_winning {
    display: flex;
    max-width: 5%;
    max-height: 5%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.winningSpeechBubble {
    display: flex;
    max-width: 5%;
    max-height: 5%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 20;
    bottom: 0;
    left: 0;
}

.yosemiteSam_losing {
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 30;
    bottom: 0;
    left: 0;
}

#losingBody {
    position: absolute;
    max-width: 50%;
    max-height: 50%;
    top: 250px;
    right: 0;
    bottom: 0;
    left: 338px;
}

#losingTorso {
    position: absolute;
    max-width: 15%;
    max-height: 15%;
    top: 422px;
    right: 0;
    bottom: 0;
    left: 422px;
}

#losingRightLeg {
    position: absolute;
    max-width: 50%;
    height: auto;
    top: 482px;
    right: 0;
    bottom: 0;
    left: 480px;
}

#losingLeftLeg {
    position: absolute;
    max-width: 50%;
    height: auto;
    top: 482px;
    right: 0;
    bottom: 0;
    left: 480px;
}

#losingRightArm {
    position: absolute;
    max-width: 50%;
    height: auto;
    top: 482px;
    right: 0;
    bottom: 0;
    left: 480px;
}

#losingLeftArm {
    max-width: 50%;
    height: auto;
    top: 482px;
    right: 0;
    bottom: 0;
    left: 480px;
}

/* #losingHead {
    top: 0;
    right: 30;
    bottom: 0;
    left: 0;
} */

.losingSpeechBubble {
    display: flex;
    max-width: 5%;
    max-height: 5%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 20;
    bottom: 0;
    left: 0;
}

.scoreboardContainer {
    display: block;
    max-width: 5%;
    max-height: 5%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 490px;
    left: 760px;
}

#numberOfWinsContainer {
    margin: 10px;
}

#numberOfLosesContainer {
    margin: 10px;
}

#numberOfWrongContainer {
    margin: 10px;
}

.scoreboardText {
    display: block;
    max-width: 5%;
    max-height: 5%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 490px;
    left: 960px;
}

#numberOfWinsText {
    margin: 50px;
}

#numberOfLosesText {
    margin: 50px;
}

#numberOfWrongText {
    margin: 50px;
}

.correctLettersContainer {
    max-width: 50%;
    max-height: 50%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 810px;
    right: 480px;
    bottom: 0;
    left: 0;
}

.correctLetters {
    display: flex;
    max-width: 2%;
    max-height: 2%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#correctLetterP {
    position: absolute;
    margin: 10px;
    top: 350px;
    right: 539px;
}

#correctLetterI {
    position: absolute;
    margin: 10px;
    top: 350px;
    right: 400px;
}

#correctLetterS {
    position: absolute;
    margin: 10px;
    top: 350px;
    right: 300px;
}

#correctLetterT {
    position: absolute;
    margin: 10px;
    top: 350px;
    right: 170px;
}

#correctLetterO {
    position: absolute;
    margin: 10px;
    top: 350px;
    right: 40px;
}

#correctLetterL {
    position: absolute;
    margin: 10px;
    top: 350px;
    left: 60px;
}

.alphabetLettersContainer {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    position: absolute;
    margin: auto;
    padding: 20px;
    top: 830px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.alphabetLetters {
    display: flex;
    max-width: 3%;
    max-height: 5%;
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 0;
    right: 1050px;
    bottom: 0;
    left: 0;
    z-index: 2;
}

#alphabetLetterA {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 1px;
    top: 468px;
    right: 100px;
}

#alphabetLetterB {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 1px;
    top: 468px;
    right: 40px;
}

#alphabetLetterC {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 10px;
}

#alphabetLetterD {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 70px;
}

#alphabetLetterE {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 130px;
}

#alphabetLetterF {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 200px;
}

#alphabetLetterG {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 270px;
}

#alphabetLetterH {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 340px;
}

#alphabetLetterI {
    position: absolute;
    height: 30px;
    width: 22px;
    margin: 10px;
    top: 468px;
    left: 410px;
}

#alphabetLetterJ {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 480px;
}

#alphabetLetterK {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 560px;
}

#alphabetLetterL {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 630px;
}

#alphabetLetterM {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 700px;
}

#alphabetLetterN {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 770px;
}

#alphabetLetterO {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 840px;
}

#alphabetLetterP {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 910px;
}

#alphabetLetterP {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 910px;
}

#alphabetLetterQ {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 980px;
}

#alphabetLetterR {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 1050px;
}

#alphabetLetterS {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 1120px;
}

#alphabetLetterT {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 1190px;
}

#alphabetLetterU {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 1260px;
}

#alphabetLetterV {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 1330px;
}

#alphabetLetterW {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 1400px;
}

#alphabetLetterX {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 1470px;
}

#alphabetLetterY {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 1530px;
}

#alphabetLetterZ {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    top: 468px;
    left: 1600px;
}